{% extends "base.html"%}
{%load static%}
{% block title %}assignments {% endblock %}
{% block content %}

<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <h2>Assignments of Mathematics</h2>
            <p>sir's name </p>
        </div>
    </div><!-- End Breadcrumbs -->

    <section id="courses" class="courses container-new">
        <div class="card">
            <div class="card-body">
                Preview of homework  :  
                <a href="#" class="btn btn-primary">View details</a>
            </div>
        </div>


    </section>

</main><!-- End #main -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}