


{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block login %}  {{tead.t_name}} {%endblock%}
{% block content %}


<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <h2>Courses</h2>
            <p>Assigned courses  </p>
        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
        <section id="features" class="features">

            <div class="container" data-aos="fade-up">

                <div class="row" data-aos="zoom-in" data-aos-delay="100">
                    {% if tead.english %}
                    <div class="col-lg-3 col-md-4">
                        <div class="icon-box">
                            <i class="ri-english-input" style="color: #ffbb2c;"></i>
                            <h3><a href="{%url 'assignmentDetailsAndUpload'%}">English</a></h3>
                        </div>
                    </div>
                    {%endif%}
                    {% if tead.maths %}
                    <div class="col-lg-3 col-md-4">
                        <div class="icon-box">
                            <i class="ri-english-input" style="color: #ffbb2c;"></i>
                            <h3><a href="{%url 'assignmentDetailsAndUpload'%}">Mathematics</a></h3>
                        </div>
                    </div>
                    {%endif%}
                    {% if tead.science %}
                    <div class="col-lg-3 col-md-4">
                        <div class="icon-box">
                            <i class="ri-english-input" style="color: #ffbb2c;"></i>
                            <h3><a href="{%url 'assignmentDetailsAndUpload'%}">Science</a></h3>
                        </div>
                    </div>
                    {%endif%}
                    {% if tead.socialScience %}
                    <div class="col-lg-3 col-md-4">
                        <div class="icon-box">
                            <i class="ri-english-input" style="color: #ffbb2c;"></i>
                            <h3><a href="{%url 'assignmentDetailsAndUpload'%}">Social science</a></h3>
                        </div>
                    </div>
                    {%endif%}
                    {% if tead.hindi %}
                    <div class="col-lg-3 col-md-4">
                        <div class="icon-box">
                            <i class="ri-english-input" style="color: #ffbb2c;"></i>
                            <h3><a href="{%url 'assignmentDetailsAndUpload'%}">Hindi</a></h3>
                        </div>
                    </div>
                    {%endif%}
                    {% if tead.marathi %}
                    <div class="col-lg-3 col-md-4">
                        <div class="icon-box">
                            <i class="ri-english-input" style="color: #ffbb2c;"></i>
                            <h3><a href="{%url 'assignmentDetailsAndUpload'%}">Marathi</a></h3>
                        </div>
                    </div>
                    {%endif%}

                </div>
            </div>
        </section>

    </section><!-- End Courses Section -->

</main><!-- End #main -->

{%endblock%}